In [1]:
import os
import astropy
import numpy as np
from astropy.table import Table
import glob
import matplotlib.pyplot as plt
import pandas as pd
from collections import Counter

In [2]:
directory = r"C:\Users\20xha\Documents\Caltech\Research\SNID\snid_outputs\\"

In [3]:
final_rcf_table = Table.from_pandas(pd.read_hdf("C:/Users/20xha/Documents/Caltech/Research/final_rcf_table.h5"))

In [4]:
SEDM_ML_sample = Table.read("C:/Users/20xha/Documents/Caltech/Research/SEDM_ML_sample.ascii", format = "ascii")

In [5]:
run_list = os.listdir(r"C:\Users\20xha\Documents\Caltech\Research\SNID\snid_outputs/")[3::]

In [7]:
ResultsTable = Table(
                    names=("ZTF_Name", "ZTF_File", "Closest", "Top15", "Good"
                    ),
                    meta={"name": "Spectrum Results after SNID"},
                    dtype=("U64", "U64", "U64", "U64", "U64"
                          )
                    )
count = 0
for i in run_list:
    row = []
    row.append(i)
    files = glob.glob(directory + i + "\\*.readableoutput")
    if(len(files) != 0):
        row.append(files[0].split("\\")[-1])
        try:
            templates_list = Table.read(files[0], format = "ascii")
            row.append(templates_list[0]["type"])
            Top15 = templates_list[0:15]
            c = Counter(Top15["type"])
            row.append(c.most_common()[0][0])
            GoodMatches = templates_list[np.where(templates_list["grade"] == "good")]
            c = Counter(GoodMatches["type"])
            row.append(c.most_common()[0][0])
            count += 1
            ResultsTable.add_row(row)
            if count % 100 == 0:
                print(count)
        except:
            print(i)

100
200
300
400
500
600
700
800
900
ZTF19aalcbda
ZTF19aamkfxb
1000
ZTF19aanjyrn
ZTF19aaozplq
ZTF19aaphmto
1100
ZTF19aavhwxs
1200
1300
1400
1500
ZTF19abpuyvi
1600
ZTF19abvdbyx
ZTF19abwswzb
ZTF19abycslo
1700
ZTF19acbzody
1800
ZTF19acctwpz
1900
2000
ZTF19aculczm
2100
ZTF20aacelfb
2200
ZTF20aagzchj
2300
ZTF20aammtwx
2400
2500
ZTF20aautzif

In [18]:
broken = ["ZTF18abntsgz", "ZTF18abpaywm", "ZTF18abvgivy", "ZTF18abvmlow", "ZTF18acbufud", "ZTF18acbvhit"]

In [19]:
for i in broken:
    row = []
    row.append(i)
    files = glob.glob(directory + i + "\\*.readableoutput")
    if(len(files) != 0):
        row.append(files[0].split("\\")[-1])
        try:
            templates_list = Table.read(files[0], format = "ascii")
            row.append(templates_list[0]["type"])
            Top15 = templates_list[0:15]
            c = Counter(Top15["type"])
            row.append(c.most_common()[0][0])
            GoodMatches = templates_list[np.where(templates_list["grade"] == "good")]
            c = Counter(GoodMatches["type"])
            row.append(c.most_common()[0][0])
            count += 1
            ResultsTable.add_row(row)
            if count % 100 == 0:
                print(count)
        except:
            print(i)

In [10]:
len(run_list)-len(ResultsTable)

424

In [11]:
424/len(run_list)

0.14285714285714285

In [27]:
final_rcf_table[0]

<Row index=0 masked=True>
  ZTF_Name    TNS_Name discovered_by tns_internal_name       RA_sn             Dec_sn       sn_type         z_sn             g_jd_max          g_max           g_unc_max          r_jd_max          r_max            r_unc_max        ebv       host_name_PS1     RA_host_PS1  Dec_host_PS1  z_host         sep          projected_kpc        gKron_PS1          rKron_PS1          iKron_PS1          zKron_PS1          yKron_PS1           w1_host           w2_host            ebv_host
   str12        str9       str13           str29            float64           float64         str9        float64            float64          float64           float64           float64          float64            float64       float64         str21           float64      float64    float64       float64           float64            float64            float64            float64            float64            float64            float64           float64            float64
------------ --------- ------------- ----------------- ----------------- ------------------ ------- -------------------- --------------- ----------------- ------------------ --------------- ------------------ ------------------ ------- --------------------- ------------ ------------ -------- ----------------- ------------------ ------------------ ------------------ ------------------ ------------------ ------------------ ----------------- ----------------- --------------------
ZTF18aabssth SN2018aex           ZTF      ZTF18aabssth 165.1891017637735 22.287497041839774      II 0.026000000000000002 2458494.0531481 20.44230842590332 0.1942138969898224 2458218.7148727 18.741601943969727 0.0452471598982811 0.01536 PSO J165.1878+22.2877 165.18778907  22.28771869 0.022914 4.444857426598462 2.0566548608097266 16.885400772094727 16.492399215698242 16.382200241088867 16.378400802612305 16.610000610351562 15.79401524178536 16.38349243564084 0.015369999999999997

In [23]:
JoinedResults = astropy.table.join(ResultsTable, final_rcf_table)

In [34]:
np.unique(JoinedResults["Closest"])

<MaskedColumn name='Closest' dtype='str64' length=16>
     AGN
     Gal
  II-pec
     IIL
     IIP
     IIb
     IIn
  Ia-91T
 Ia-91bg
  Ia-csm
 Ia-norm
  Ia-pec
 Ib-norm
  Ib-pec
Ic-broad
 Ic-norm

In [33]:
np.unique(JoinedResults["sn_type"])

<MaskedColumn name='sn_type' dtype='str9' length=17>
       II
   II-87A
      IIb
      IIn
       Ia
  Ia-02cx
   Ia-91T
  Ia-91bg
    Ia-SC
       Ib
     Ib/c
      Ibn
       Ic
    Ic-BL
   SLSN-I
  SLSN-II
ambiguous

In [66]:
counters = [0, 0, 0]
closest_list = []
top15_list = []
good_list = []

In [67]:
for i in JoinedResults:
    correct_id = i["sn_type"]
    
    if (correct_id in i["Closest"]):
        counters[0] += 1
    else:
        closest_list.append(np.where(JoinedResults["ZTF_Name"] == i["ZTF_Name"])[0][0])
        
    if (correct_id in i["Top15"]):
        counters[1] += 1
    else:
        top15_list.append(np.where(JoinedResults["ZTF_Name"] == i["ZTF_Name"])[0][0])
        
    if (correct_id in i["Good"]):
        counters[2] += 1
    else:
        good_list.append(np.where(JoinedResults["ZTF_Name"] == i["ZTF_Name"])[0][0])

In [68]:
np.asarray(counters)/(len(JoinedResults))

array([0.82735043, 0.83247863, 0.81025641])

In [69]:
len(JoinedResults)

585

In [71]:
JoinedResults[closest_list]["ZTF_Name", "sn_type", "Closest"]

<Table masked=True length=101>
 sn_type  Closest
   str9    str64
--------- --------
       Ib   Ia-91T
   SLSN-I  Ia-norm
   Ia-91T  Ic-norm
       II   Ia-pec
       Ia Ic-broad
ambiguous  Ic-norm
       II  Ib-norm
      IIn      AGN
ambiguous      Gal
      IIb   Ia-csm
      ...      ...
       Ia  Ib-norm
      IIn   Ib-pec
      IIn      IIL
       II      Gal
       II  Ia-norm
   Ia-91T   Ia-pec
      IIn      IIP
       Ic      Gal
     Ib/c  Ia-91bg
   Ia-91T  Ia-norm

In [74]:
JoinedResults[top15_list]["ZTF_Name", "sn_type", "Top15"]

<Table masked=True length=98>
 sn_type   Top15
   str9    str64
--------- --------
       Ib   Ia-91T
      IIn   II-pec
   SLSN-I  Ia-norm
   Ia-91T      IIn
       II   Ia-pec
       Ia Ic-broad
ambiguous  Ic-norm
       II  Ic-norm
ambiguous      Gal
      IIb   Ia-pec
      ...      ...
    Ic-BL  Ia-norm
      IIb  Ia-norm
  Ia-02cx   Ia-pec
      IIn  Ia-norm
       II      Gal
   Ia-91T   Ia-pec
      IIn      IIP
       Ic      IIn
     Ib/c  Ia-91bg
   Ia-91T  Ia-norm

In [12]:
JoinedResults[top15_list]["ZTF_Name", "sn_type", "Good"]

NameError: name 'JoinedResults' is not defined